<!-- a general launch file that should work on most systems -->

<launch>
        <include file="$(find master-control)/launch/stereo.launch" />
	
	<node pkg="stereo_image_proc" type="stereo_image_proc" name="stereo_image_proc"/>

	<node pkg="tf" type="static_transform_publisher" name="camera_to_ground" args="0 0 0 0 0 0 ground stereo_frame 100" />
	<node pkg="tf" type="static_transform_publisher" name="left_to_right" args="0.05137 0 0.00136 0 0.108380311 0 stereo_frame left_optical_frame 10" /> 	
	<node pkg="tf" type="static_transform_publisher" name="right_to_right" args="0 0 0 0 0 0 stereo_frame right_optical_frame 10" />

	<include file="$(find master-control)/launch/ar_corners.launch" />	
	<!--<include file="$(find raven_pose_estimator)/launch/chessboard_prosilica.launch" />-->
	<include file="$(find stereo_click)/launch/stereo_click_control.launch" />

	<group ns="control">
		
	</group>

</launch>
